<div>
    <h1>SUBORDINADOS</h1>
    <table class="table table-form">
        <thead>
            <tr>
                <th>Id Empleado</th>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Director</th>
            </tr>
        </thead>
        <tbody>
            @for(sub of subs; track sub)
            {
                <tr>
                    <td>{{sub.idEmpleado}}</td>
                    <td>{{sub.apellido}}</td>
                    <td>{{sub.oficio}}</td>
                    <td>{{sub.salario}}</td>
                    <td>{{sub.director}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>